#cong{
    font-size: small;
    width: 70px;
    height: 20px ;
}
#tru{
    font-size: small;
    width: 70px;
    height: 20px ;
}
#nhan{
    font-size: small;
    width: 70px;
    height: 20px ;
}
#chia{
    font-size: small;
    width: 70px;
    height: 20px ;
}