#label1{
    margin-left: 100px;
    font-weight: bold;
}
#label2{
    margin-left: 100px;
    font-weight: bold;
}
#label3{
    margin-left: 100px;
    font-weight: bold;
}
#from{
    margin-left: 100px;
}
#to{
    margin-left: 150px;
}
#button{
    margin-left: 50px;
    background-color: darkorchid;
    color: ghostwhite;
    font-size: large;
}
